<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Battle!</title>
    <link
      href="https://fonts.googleapis.com/css?family=Abel"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Abel";
        font-size: 22px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        <%= @game.target_player.name %> attacked <%= @game.current_player.name %>!
      </h1>
        <%= @game.current_player.name %>: <%= @game.current_player.hp %>HP
      <a id="back" href="/play"></a>
    </div>
  </body>
</html>
