<div class="players">
  <form action="/names" method="post">
    <input type="text" placeholder="Player 1 name" name="player_1_name" />
    <input type="text" placeholder="Player 2 name" name="player_2_name" />
    <input type="submit" value="Submit" />
  </form>
</div>
